---
import { getPageSection } from "../lib/supabase";

const section = await getPageSection("index", "cta");

// Eğer section görünür değilse, hiçbir şey render etme
if (!section || !section.visible) {
	return null;
}

const title = section?.title || "What’s Your Next Step?";
const description =
	section?.description ||
	"Make a step to start your journey to holistic healing with Wellness Bliss.";
const iconUrl =
	section?.image_url ||
	"/assets/light/wp-content/uploads/sites/4/2025/04/icon-5.svg";
---

<section
	class="elementor-element elementor-element-ae63e6e e-flex e-con-boxed cmsmasters-block-default e-con e-parent"
	data-id="ae63e6e"
	data-element_type="container"
>
	<div class="e-con-inner">
		<div
			class="elementor-element elementor-element-32a2e74 cmsmasters-effect cmsmasters-effect-type-scroll cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-image"
			data-id="32a2e74"
			data-element_type="widget"
			data-settings='{"_animation":"rotateIn","cms_scroll_effects":["rotate"],"cms_scroll_rotate_direction":"reverse","cms_scroll_rotate":"yes","cms_scroll_rotate_speed":{"unit":"px","size":6,"sizes":[]},"cms_scroll_rotate_timing":"linear","cms_scroll_origin_y":"center","cms_scroll_origin_x":"center","cms_scroll_viewport":{"unit":"%","size":"","sizes":{"start":0,"end":100}},"cms_scroll_range":"viewport","cms_scroll_devices":["desktop","tablet","mobile"]}'
			data-widget_type="image.default"
			data-scroll-desktop=""
			data-scroll-tablet=""
			data-scroll-mobile=""
			style="--cmsmasters-scroll-rotate: 540deg; --cmsmasters-scroll-origin-x: center; --cmsmasters-scroll-origin-y: center; visibility: visible; opacity: 1;"
		>
			<div class="elementor-widget-container">
				<img
					loading="lazy"
					decoding="async"
					width="1"
					height="1"
					src={iconUrl}
					class="attachment-thumbnail size-thumbnail wp-image-43940"
					alt=""
				/>
			</div>
		</div>
		<div
			class="elementor-element elementor-element-0536f5f elementor-widget__width-initial cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-heading"
			data-id="0536f5f"
			data-element_type="widget"
			data-settings='{"_animation":"fadeIn","_animation_delay":250}'
			data-widget_type="heading.default"
			style="visibility: visible; opacity: 1;"
		>
			<div class="elementor-widget-container">
				<h2 class="elementor-heading-title elementor-size-default">
					{title}
				</h2>
			</div>
		</div>
		<div
			class="elementor-element elementor-element-2924238 e-flex e-con-boxed cmsmasters-block-default e-con e-child"
			data-id="2924238"
			data-element_type="container"
		>
			<div class="e-con-inner">
				<div
					class="elementor-element elementor-element-33d243f cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-cmsmasters-button"
					data-id="33d243f"
					data-element_type="widget"
					data-settings='{"_animation":"fadeInRight","_animation_delay":350}'
					data-widget_type="cmsmasters-button.default"
					style="visibility: visible; opacity: 1;"
				>
					<div class="elementor-widget-container">
						<div
							class="elementor-widget-cmsmasters-button__button-container"
						>
							<div
								class="elementor-widget-cmsmasters-button__button-container-inner"
							>
								<a
									href="https://wellness-bliss.cmsmasters.studio/light/prices-page/"
									class="cmsmasters-button-link elementor-widget-cmsmasters-button__button cmsmasters-icon-view- cmsmasters-icon-shape- cmsmasters-button-size-sm"
									role="button"
									tabindex="0"
									><span
										class="elementor-widget-cmsmasters-button__content-wrapper cmsmasters-align-icon-"
										><span
											class="elementor-widget-cmsmasters-button__text"
											>VIew Our Services</span
										></span
									></a
								>
							</div>
						</div>
					</div>
				</div>
				<div
					class="elementor-element elementor-element-fb49441 cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-cmsmasters-button"
					data-id="fb49441"
					data-element_type="widget"
					data-settings='{"_animation":"fadeInRight","_animation_delay":450}'
					data-widget_type="cmsmasters-button.default"
					style="visibility: visible; opacity: 1;"
				>
					<div class="elementor-widget-container">
						<div
							class="elementor-widget-cmsmasters-button__button-container"
						>
							<div
								class="elementor-widget-cmsmasters-button__button-container-inner"
							>
								<a
									href="https://wellness-bliss.cmsmasters.studio/light/our-team/"
									class="cmsmasters-button-link elementor-widget-cmsmasters-button__button cmsmasters-icon-view- cmsmasters-icon-shape- cmsmasters-button-size-sm"
									role="button"
									tabindex="0"
									><span
										class="elementor-widget-cmsmasters-button__content-wrapper cmsmasters-align-icon-"
										><span
											class="elementor-widget-cmsmasters-button__text"
											>Choose a Specialist</span
										></span
									></a
								>
							</div>
						</div>
					</div>
				</div>
				<div
					class="elementor-element elementor-element-df6f450 cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-cmsmasters-button"
					data-id="df6f450"
					data-element_type="widget"
					data-settings='{"_animation":"fadeInRight","_animation_delay":550}'
					data-widget_type="cmsmasters-button.default"
					style="visibility: visible; opacity: 1;"
				>
					<div class="elementor-widget-container">
						<div
							class="elementor-widget-cmsmasters-button__button-container"
						>
							<div
								class="elementor-widget-cmsmasters-button__button-container-inner"
							>
								<a
									href="https://wellness-bliss.cmsmasters.studio/light/appointment/"
									class="cmsmasters-button-link elementor-widget-cmsmasters-button__button cmsmasters-icon-view- cmsmasters-icon-shape- cmsmasters-button-size-sm"
									role="button"
									tabindex="0"
									><span
										class="elementor-widget-cmsmasters-button__content-wrapper cmsmasters-align-icon-"
										><span
											class="elementor-widget-cmsmasters-button__text"
											>Book an Appointment</span
										></span
									></a
								>
							</div>
						</div>
					</div>
				</div>
				<div
					class="elementor-element elementor-element-e088236 cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-cmsmasters-button"
					data-id="e088236"
					data-element_type="widget"
					data-settings='{"_animation":"fadeInRight","_animation_delay":650}'
					data-widget_type="cmsmasters-button.default"
					style="visibility: visible; opacity: 1;"
				>
					<div class="elementor-widget-container">
						<div
							class="elementor-widget-cmsmasters-button__button-container"
						>
							<div
								class="elementor-widget-cmsmasters-button__button-container-inner"
							>
								<a
									href="https://wellness-bliss.cmsmasters.studio/light/contacts/"
									class="cmsmasters-button-link elementor-widget-cmsmasters-button__button cmsmasters-icon-view- cmsmasters-icon-shape- cmsmasters-button-size-sm"
									role="button"
									tabindex="0"
									><span
										class="elementor-widget-cmsmasters-button__content-wrapper cmsmasters-align-icon-"
										><span
											class="elementor-widget-cmsmasters-button__text"
											>Find a Location</span
										></span
									></a
								>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div
			class="elementor-element elementor-element-87762fe cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-heading"
			data-id="87762fe"
			data-element_type="widget"
			data-settings='{"_animation":"fadeIn","_animation_delay":750}'
			data-widget_type="heading.default"
			style="visibility: visible; opacity: 1;"
		>
			<div class="elementor-widget-container">
				<p class="elementor-heading-title elementor-size-default">
					{description}
				</p>
			</div>
		</div>
	</div>
</section>
