								<section
									class="elementor-element elementor-element-fa71b4a e-con-full e-flex cmsmasters-block-default e-con e-parent e-lazyloaded"
									data-id="fa71b4a"
									data-element_type="container"
								>
									<section
										class="elementor-element elementor-element-f872f81 e-con-full e-flex cmsmasters-bg-hide-none cmsmasters-bg-hide-none cmsmasters-block-default e-con e-child"
										data-id="f872f81"
										data-element_type="container"
										data-settings='{"background_background":"classic"}'
									>
										<div
											class="elementor-element elementor-element-7dd5cf8 e-flex e-con-boxed cmsmasters-block-default e-con e-child"
											data-id="7dd5cf8"
											data-element_type="container"
											data-settings='{"background_background":"classic"}'
										>
											<div class="e-con-inner">
												<div
													class="elementor-element elementor-element-502eea9 cmsmasters-color-variation-gradient cmsmasters-line-clamp-no cmsmasters-color-gradient-linear cmsmasters-pointer-none cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-cmsmasters-title cmsmasters-widget-title"
													data-id="502eea9"
													data-element_type="widget"
													data-settings='{"_animation":"fadeIn"}'
													data-widget_type="cmsmasters-title.default"
													style="visibility: visible; opacity: 1;"
												>
													<div
														class="elementor-widget-container"
													>
														<h2
															class="cmsmasters-widget-title__heading"
														>
															<span
																class="title-inner-element"
																>The Healing
																Power of Touch</span>
														</h2>
													</div>
												</div>
												<div
													class="elementor-element elementor-element-6115cdf cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-heading"
													data-id="6115cdf"
													data-element_type="widget"
													data-settings='{"_animation":"fadeIn","_animation_delay":250}'
													data-widget_type="heading.default"
													style="visibility: visible; opacity: 1;"
												>
													<div
														class="elementor-widget-container"
													>
														<h3
															class="elementor-heading-title elementor-size-default"
														>
															Restore Balance,
															Ease Tension, and
															Reconnect with Your
															Body
														</h3>
													</div>
												</div>
												<div
													data-animation-type="block"
													class="animation_type_block elementor-element elementor-element-fda950f cmsmasters-widget-layout-column cmsmasters-widget-marker-element-numeric cmsmasters-widget-marker-view-stacked cmsmasters-widget-align-column-left cmsmasters-widget-direction-default cmsmasters-value-position-bottom cmsmasters-widget-marker-shape-circle cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-cmsmasters-icon-list cmsmasters-widget-icon-list animated fadeIn"
													data-animation-stagger=""
													data-separate-animation-selector=".cmsmasters-widget-icon-list-item"
													data-text-animation-class="sequental, random, line, word, char"
													data-id="fda950f"
													data-element_type="widget"
													data-settings='{"_animation":"fadeIn","_animation_delay":500}'
													data-widget_type="cmsmasters-icon-list.default"
													style="visibility: visible; opacity: 1;"
												>
													<div
														class="elementor-widget-container"
													>
														<ul
															class="cmsmasters-widget-icon-list-items"
														>
															<li
																class="cmsmasters-widget-icon-list-item active-icon-item"
															>
																<span
																	class="cmsmasters-widget-icon-list-item-text-wrap"
																>
																	<span
																		class="cmsmasters-widget-icon-list-item-icon"
																	>
																		<span>
																		</span>
																	</span>
																	<span
																		class="cmsmasters-widget-icon-list-item-text-inner elementor-repeater-item-38ba4c2"
																	>
																		<span
																			class="cmsmasters-widget-icon-list-item-text"
																		>
																			Relieves
																			Stress
																			&amp;
																			Anxiety
																		</span>
																	</span>
																</span>
																<span
																	class="cmsmasters-widget-icon-list-item-value cmsmasters-widget-icon-list-item-value"
																	>Massage
																	promotes
																	deep
																	relaxation,
																	calming the
																	nervous
																	system and
																	reducing
																	mental
																	fatigue.</span
																>
															</li>
															<li
																class="cmsmasters-widget-icon-list-item active-icon-item"
															>
																<span
																	class="cmsmasters-widget-icon-list-item-text-wrap"
																>
																	<span
																		class="cmsmasters-widget-icon-list-item-icon"
																	>
																		<span>
																		</span>
																	</span>
																	<span
																		class="cmsmasters-widget-icon-list-item-text-inner elementor-repeater-item-d8a3c8e"
																	>
																		<span
																			class="cmsmasters-widget-icon-list-item-text cmsmasters-widget-icon-list-item-text"
																		>
																			Eases
																			Muscle
																			Tension
																			&amp;
																			Pain
																		</span>
																	</span>
																</span>
																<span
																	class="cmsmasters-widget-icon-list-item-value cmsmasters-widget-icon-list-item-value"
																	>Targeted
																	techniques
																	release
																	knots,
																	improve
																	flexibility,
																	and help
																	with chronic
																	pain.</span
																>
															</li>
															<li
																class="cmsmasters-widget-icon-list-item active-icon-item"
															>
																<span
																	class="cmsmasters-widget-icon-list-item-text-wrap"
																>
																	<span
																		class="cmsmasters-widget-icon-list-item-icon"
																	>
																		<span>
																		</span>
																	</span>
																	<span
																		class="cmsmasters-widget-icon-list-item-text-inner elementor-repeater-item-d7d66e7"
																	>
																		<span
																			class="cmsmasters-widget-icon-list-item-text cmsmasters-widget-icon-list-item-text cmsmasters-widget-icon-list-item-text"
																		>
																			Boosts
																			Immunity
																		</span>
																	</span>
																</span>
																<span
																	class="cmsmasters-widget-icon-list-item-value cmsmasters-widget-icon-list-item-value"
																	>Enhances
																	blood
																	circulation,
																	supporting
																	natural
																	detoxification,
																	rejuvenation
																	and overall
																	vitality.</span
																>
															</li>
															<li
																class="cmsmasters-widget-icon-list-item active-icon-item"
															>
																<span
																	class="cmsmasters-widget-icon-list-item-text-wrap"
																>
																	<span
																		class="cmsmasters-widget-icon-list-item-icon"
																	>
																		<span>
																		</span>
																	</span>
																	<span
																		class="cmsmasters-widget-icon-list-item-text-inner elementor-repeater-item-6ae588c"
																	>
																		<span
																			class="cmsmasters-widget-icon-list-item-text cmsmasters-widget-icon-list-item-text cmsmasters-widget-icon-list-item-text cmsmasters-widget-icon-list-item-text"
																		>
																			Improves
																			Sleep
																			&amp;
																			Mood
																		</span>
																	</span>
																</span>
																<span
																	class="cmsmasters-widget-icon-list-item-value cmsmasters-widget-icon-list-item-value"
																	>Encourages
																	better sleep
																	patterns and
																	elevates
																	mood through
																	the release
																	of feel-good
																	hormones.</span
																>
															</li>
														</ul>
													</div>
												</div>
												<div
													class="elementor-element elementor-element-856e303 cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-cmsmasters-button"
													data-id="856e303"
													data-element_type="widget"
													data-settings='{"_animation":"fadeInUp","_animation_delay":750}'
													data-widget_type="cmsmasters-button.default"
													style="visibility: visible; opacity: 1;"
												>
													<div
														class="elementor-widget-container"
													>
														<div
															class="elementor-widget-cmsmasters-button__button-container"
														>
															<div
																class="elementor-widget-cmsmasters-button__button-container-inner"
															>
																<a
																	href="https://wellness-bliss.cmsmasters.studio/light/services-page/"
																	class="cmsmasters-button-link elementor-widget-cmsmasters-button__button cmsmasters-icon-view- cmsmasters-icon-shape- cmsmasters-button-size-sm"
																	role="button"
																	tabindex="0"
																	><span
																		class="elementor-widget-cmsmasters-button__content-wrapper cmsmasters-align-icon-"
																		><span
																			class="elementor-widget-cmsmasters-button__text"
																			>Find
																			out
																			More</span
																		></span
																	></a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</section>
									<div
										class="elementor-element elementor-element-3f6a688 e-con-full e-flex cmsmasters-bg-hide-none cmsmasters-bg-hide-none cmsmasters-block-default e-con e-child"
										data-id="3f6a688"
										data-element_type="container"
										data-settings='{"background_background":"classic"}'
									>
										<div
											class="elementor-element elementor-element-60d1f3b e-con-full e-flex cmsmasters-block-default e-con e-child animated zoomIn"
											data-id="60d1f3b"
											data-element_type="container"
											data-settings='{"background_background":"gradient","animation":"zoomIn","animation_delay":1000}'
											style="visibility: visible; opacity: 1;"
										>
											<div
												class="elementor-element elementor-element-fdb9b74 cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-heading"
												data-id="fdb9b74"
												data-element_type="widget"
												data-widget_type="heading.default"
											>
												<div
													class="elementor-widget-container"
												>
													<div
														class="elementor-heading-title elementor-size-default"
													>
														13
													</div>
												</div>
											</div>
											<div
												class="elementor-element elementor-element-5316979 cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-heading"
												data-id="5316979"
												data-element_type="widget"
												data-widget_type="heading.default"
											>
												<div
													class="elementor-widget-container"
												>
													<h5
														class="elementor-heading-title elementor-size-default"
													>
														Years of quality service
													</h5>
												</div>
											</div>
										</div>
									</div>
								</section>
