---
import { getPageSection } from "../lib/supabase";

const section = await getPageSection("index", "hero");

const title = section?.title || "Experience the Healing Power of Massage";
const buttonText = section?.button_text || "Explore Our Services";
const buttonUrl =
    section?.button_url ||
    "https://wellness-bliss.cmsmasters.studio/light/services-page/";
---

<section
    class="elementor-element elementor-element-f1fc847 e-con-full cmsmasters-bg-effect cmsmasters-bg-effect-type-scroll cmsmasters-effect cmsmasters-effect-type-scroll cmsmasters-section-for-header-yes e-flex cmsmasters-block-default e-con e-child"
    data-id="f1fc847"
    data-element_type="container"
    data-settings='{"background_background":"classic","cms_bg_scroll_effects":["scale"],"cms_bg_scroll_scale_speed":{"unit":"px","size":2,"sizes":[]},"cms_scroll_effects":[],"cms_bg_scroll_devices":["desktop","tablet"],"cms_bg_scroll_scale":"yes","cms_bg_scroll_scale_direction":"default","cms_bg_scroll_scale_timing":"linear","cms_bg_scroll_viewport":{"unit":"%","size":"","sizes":{"start":0,"end":100}},"cms_bg_scroll_range":"viewport"}'
    data-scroll-desktop=""
    data-scroll-tablet=""
>
    <div class="cmsmasters-bg-effects-container">
        <div
            class="cmsmasters-bg-effects-element"
            style="--cmsmasters-scroll-scale: 1.2;"
        >
        </div>
    </div>
    <div
        class="elementor-element elementor-element-6f34bea e-flex e-con-boxed cmsmasters-block-default e-con e-child"
        data-id="6f34bea"
        data-element_type="container"
    >
        <div class="e-con-inner">
            <div
                class="elementor-element elementor-element-d2f1164 elementor-widget__width-inherit cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-heading animated fadeIn"
                data-id="d2f1164"
                data-element_type="widget"
                data-settings='{"_animation":"fadeIn"}'
                data-widget_type="heading.default"
            >
                <div class="elementor-widget-container">
                    <h1 class="elementor-heading-title elementor-size-default">
                        {title}
                    </h1>
                </div>
            </div>
            <div
                class="elementor-element elementor-element-05fcb3c e-con-full e-flex cmsmasters-block-default e-con e-child"
                data-id="05fcb3c"
                data-element_type="container"
            >
                <div
                    class="elementor-element elementor-element-9c02034 cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-cmsmasters-button animated fadeIn"
                    data-id="9c02034"
                    data-element_type="widget"
                    data-settings='{"_animation":"fadeIn","_animation_delay":250}'
                    data-widget_type="cmsmasters-button.default"
                >
                    <div class="elementor-widget-container">
                        <div
                            class="elementor-widget-cmsmasters-button__button-container"
                        >
                            <div
                                class="elementor-widget-cmsmasters-button__button-container-inner"
                            >
                                <a
                                    href={buttonUrl}
                                    class="cmsmasters-button-link elementor-widget-cmsmasters-button__button cmsmasters-icon-view- cmsmasters-icon-shape- cmsmasters-button-size-sm"
                                    role="button"
                                    tabindex="0"
                                    ><span
                                        class="elementor-widget-cmsmasters-button__content-wrapper cmsmasters-align-icon-"
                                        ><span
                                            class="elementor-widget-cmsmasters-button__text"
                                            >{buttonText}</span
                                        ></span
                                    ></a
                                >
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    data-animation-type="block"
                    class="animation_type_block elementor-element elementor-element-ce50a85 cmsmasters-widget-align-left elementor-widget__width-initial cmsmasters-widget-layout-row cmsmasters-widget-direction-default cmsmasters-widget-marker-element-icon cmsmasters-widget-marker-view-default animation_type_block cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-cmsmasters-icon-list cmsmasters-widget-icon-list animated fadeIn"
                    data-animation-stagger=""
                    data-separate-animation-selector=".cmsmasters-widget-icon-list-item"
                    data-text-animation-class="sequental, random, line, word, char"
                    data-id="ce50a85"
                    data-element_type="widget"
                    data-settings='{"_animation":"fadeIn","_animation_delay":500}'
                    data-widget_type="cmsmasters-icon-list.default"
                >
                    <div class="elementor-widget-container">
                        <ul class="cmsmasters-widget-icon-list-items">
                            <li
                                class="cmsmasters-widget-icon-list-item active-icon-item"
                            >
                                <span
                                    class="cmsmasters-widget-icon-list-item-text-wrap"
                                >
                                    <span
                                        class="cmsmasters-widget-icon-list-item-icon"
                                    >
                                        <span>
                                            <i
                                                aria-hidden="true"
                                                class="cmsmsdemo-icons- cmsms-demo-icons-phone"
                                            >
                                            </i>
                                        </span>
                                    </span>
                                    <span
                                        class="cmsmasters-widget-icon-list-item-text-inner elementor-repeater-item-3930b7e active-link-item"
                                    >
                                        <span
                                            class="cmsmasters-widget-icon-list-item-text"
                                        >
                                            <a href="tel:1-800-123-1234"
                                                >1-800-123-1234</a
                                            >
                                        </span>
                                    </span>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div
        class="elementor-element elementor-element-a416b84 e-flex e-con-boxed cmsmasters-block-default e-con e-child"
        data-id="a416b84"
        data-element_type="container"
    >
        <div class="e-con-inner">
            <div
                class="elementor-element elementor-element-8db1d14 e-con-full e-flex cmsmasters-block-default e-con e-child"
                data-id="8db1d14"
                data-element_type="container"
                data-settings='{"background_background":"classic"}'
            >
                <div
                    class="elementor-element elementor-element-887c76f cmsmasters-inline-forminator-form cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-cmsmasters-forminator"
                    data-id="887c76f"
                    data-element_type="widget"
                    data-settings='{"form_list":"46"}'
                    data-widget_type="cmsmasters-forminator.default"
                >
                    <div class="elementor-widget-container">
                        <div
                            class="elementor-widget-cmsmasters-contact-form__wrapper elementor-widget-cmsmasters-contact-form cmsmasters-default-color cmsmasters-default-font"
                            id="cmsmasters-widget-form-887c76f"
                        >
                            <div
                                class="elementor-widget-cmsmasters-contact-form__inner"
                            >
                                <form
                                    id="forminator-module-46"
                                    class="forminator-ui forminator-custom-form forminator-custom-form-46 forminator-design--default forminator-custom forminator_ajax"
                                    method="post"
                                    data-forminator-render="0"
                                    data-form-id="46"
                                    data-design="default"
                                    data-color-option="default"
                                    data-grid="custom"
                                    style=""
                                    data-uid="6981e44510285"
                                    novalidate="novalidate"
                                >
                                    <div
                                        role="alert"
                                        aria-live="polite"
                                        class="forminator-response-message forminator-error"
                                        aria-hidden="true"
                                    >
                                    </div><div class="forminator-row">
                                        <div
                                            id="name-1"
                                            class="forminator-field-name forminator-col forminator-col-12"
                                        >
                                            <div class="forminator-field">
                                                <input
                                                    type="text"
                                                    name="name-1"
                                                    value=""
                                                    placeholder="Your Full Name"
                                                    id="forminator-field-name-1_6981e44510285"
                                                    class="forminator-input forminator-name--field"
                                                    aria-required="true"
                                                />
                                            </div>
                                        </div>
                                    </div><div class="forminator-row">
                                        <div
                                            id="phone-1"
                                            class="forminator-field-phone forminator-col forminator-col-12"
                                        >
                                            <div class="forminator-field">
                                                <input
                                                    type="text"
                                                    name="phone-1"
                                                    value=""
                                                    placeholder="Your Phone"
                                                    id="forminator-field-phone-1_6981e44510285"
                                                    class="forminator-input forminator-field--phone"
                                                    data-required=""
                                                    aria-required="false"
                                                    autocomplete="off"
                                                />
                                            </div>
                                        </div>
                                    </div><div class="forminator-row">
                                        <div
                                            id="date-1"
                                            class="forminator-field-date forminator-col forminator-col-12"
                                        >
                                            <div class="forminator-field">
                                                <input
                                                    autocomplete="off"
                                                    type="text"
                                                    size="1"
                                                    name="date-1"
                                                    value=""
                                                    placeholder="Select Date"
                                                    id="forminator-field-date-1-picker_6981e44510285"
                                                    class="forminator-input forminator-datepicker hasDatepicker"
                                                    data-required=""
                                                    data-format="dd-mm-yy"
                                                    data-restrict-type=""
                                                    data-restrict=""
                                                    data-start-year="1926"
                                                    data-end-year="2126"
                                                    data-past-dates="enable"
                                                    data-start-of-week="1"
                                                    data-start-date=""
                                                    data-end-date=""
                                                    data-start-field=""
                                                    data-end-field=""
                                                    data-start-offset=""
                                                    data-end-offset=""
                                                    data-disable-date=""
                                                    data-disable-range=""
                                                />
                                            </div>
                                        </div>
                                    </div><div class="forminator-row">
                                        <div
                                            id="time-1"
                                            class="forminator-field-time forminator-col forminator-col-12"
                                        >
                                            <div class="forminator-timepicker">
                                                <div
                                                    class="forminator-row"
                                                    data-multiple="true"
                                                >
                                                    <div
                                                        id="time-1-hours"
                                                        class="forminator-col forminator-col-6"
                                                    >
                                                        <div
                                                            class="forminator-field"
                                                        >
                                                            <select
                                                                name="time-1-hours"
                                                                id="forminator-field-46__field--time-1-hours_6981e44510285"
                                                                class="forminator-select2 time-hours has-time-limiter select2-hidden-accessible forminator-screen-reader-only"
                                                                data-field="hours"
                                                                data-placeholder="Select"
                                                                data-default-value="8"
                                                                tabindex="-1"
                                                                aria-hidden="true"
                                                                data-select2-id="select2-data-forminator-field-46__field--time-1-hours_6981e44510285"
                                                                ><option
                                                                    value="8"
                                                                    selected="selected"
                                                                    data-select2-id="select2-data-241-numa"
                                                                    >08</option
                                                                ><option
                                                                    value="9"
                                                                    >09</option
                                                                ><option
                                                                    value="10"
                                                                    >10</option
                                                                ><option
                                                                    value="11"
                                                                    >11</option
                                                                ><option
                                                                    value="12"
                                                                    >12</option
                                                                ><option
                                                                    value="13"
                                                                    >13</option
                                                                ><option
                                                                    value="14"
                                                                    >14</option
                                                                ><option
                                                                    value="15"
                                                                    >15</option
                                                                ><option
                                                                    value="16"
                                                                    >16</option
                                                                ><option
                                                                    value="17"
                                                                    >17</option
                                                                ><option
                                                                    value="18"
                                                                    >18</option
                                                                ><option
                                                                    value="19"
                                                                    >19</option
                                                                ></select
                                                            ><span
                                                                class="select2 select2-container forminator-select"
                                                                dir="ltr"
                                                                data-select2-id="select2-data-240-mljz"
                                                                style="width: 1px;"
                                                                ><span
                                                                    class="selection"
                                                                    ><span
                                                                        class="select2-selection select2-selection--single"
                                                                        role="combobox"
                                                                        aria-haspopup="true"
                                                                        aria-expanded="false"
                                                                        tabindex="0"
                                                                        aria-disabled="false"
                                                                        aria-labelledby="select2-forminator-field-46__field--time-1-hours_6981e44510285-container"
                                                                        aria-controls="select2-forminator-field-46__field--time-1-hours_6981e44510285-container"
                                                                        ><span
                                                                            class="select2-selection__rendered"
                                                                            id="select2-forminator-field-46__field--time-1-hours_6981e44510285-container"
                                                                            role="textbox"
                                                                            aria-readonly="true"
                                                                            title="08"
                                                                            >08</span
                                                                        ><span
                                                                            class="select2-selection__arrow"
                                                                            role="presentation"
                                                                            ><span
                                                                                class="forminator-icon-chevron-down"
                                                                                aria-hidden="true"
                                                                            >
                                                                            </span></span
                                                                        ></span
                                                                    ></span
                                                                ><span
                                                                    class="dropdown-wrapper"
                                                                    aria-hidden="true"
                                                                >
                                                                </span></span
                                                            >
                                                        </div>
                                                    </div><div
                                                        id="time-1-minutes"
                                                        class="forminator-col forminator-col-6"
                                                    >
                                                        <div
                                                            class="forminator-field"
                                                        >
                                                            <select
                                                                name="time-1-minutes"
                                                                id="forminator-field-46__field--time-1-minutes_6981e44510285"
                                                                class="forminator-select2 time-minutes has-time-limiter select2-hidden-accessible forminator-screen-reader-only"
                                                                data-field="minutes"
                                                                data-placeholder="Select"
                                                                data-default-value="30"
                                                                tabindex="-1"
                                                                aria-hidden="true"
                                                                data-select2-id="select2-data-forminator-field-46__field--time-1-minutes_6981e44510285"
                                                                ><option
                                                                    value="0"
                                                                    >00</option
                                                                ><option
                                                                    value="10"
                                                                    >10</option
                                                                ><option
                                                                    value="20"
                                                                    >20</option
                                                                ><option
                                                                    value="30"
                                                                    selected="selected"
                                                                    data-select2-id="select2-data-248-1n0j"
                                                                    >30</option
                                                                ><option
                                                                    value="40"
                                                                    >40</option
                                                                ><option
                                                                    value="50"
                                                                    >50</option
                                                                ></select
                                                            ><span
                                                                class="select2 select2-container forminator-select"
                                                                dir="ltr"
                                                                data-select2-id="select2-data-247-4gvp"
                                                                style="width: 1px;"
                                                                ><span
                                                                    class="selection"
                                                                    ><span
                                                                        class="select2-selection select2-selection--single"
                                                                        role="combobox"
                                                                        aria-haspopup="true"
                                                                        aria-expanded="false"
                                                                        tabindex="0"
                                                                        aria-disabled="false"
                                                                        aria-labelledby="select2-forminator-field-46__field--time-1-minutes_6981e44510285-container"
                                                                        aria-controls="select2-forminator-field-46__field--time-1-minutes_6981e44510285-container"
                                                                        ><span
                                                                            class="select2-selection__rendered"
                                                                            id="select2-forminator-field-46__field--time-1-minutes_6981e44510285-container"
                                                                            role="textbox"
                                                                            aria-readonly="true"
                                                                            title="30"
                                                                            >30</span
                                                                        ><span
                                                                            class="select2-selection__arrow"
                                                                            role="presentation"
                                                                            ><span
                                                                                class="forminator-icon-chevron-down"
                                                                                aria-hidden="true"
                                                                            >
                                                                            </span></span
                                                                        ></span
                                                                    ></span
                                                                ><span
                                                                    class="dropdown-wrapper"
                                                                    aria-hidden="true"
                                                                >
                                                                </span></span
                                                            >
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><input
                                        type="hidden"
                                        name="referer_url"
                                        value=""
                                    /><div
                                        class="forminator-row forminator-row-last"
                                    >
                                        <div class="forminator-col">
                                            <div class="forminator-field">
                                                <button
                                                    class="forminator-button forminator-button-submit"
                                                    >Book a Visit</button
                                                >
                                            </div>
                                        </div>
                                    </div><input
                                        type="hidden"
                                        id="forminator_nonce"
                                        name="forminator_nonce"
                                        value="5c169bb8fb"
                                    /><input
                                        type="hidden"
                                        name="_wp_http_referer"
                                        value="/light/home-two/"
                                    /><input
                                        type="hidden"
                                        name="form_id"
                                        value="46"
                                    /><input
                                        type="hidden"
                                        name="page_id"
                                        value="37907"
                                    /><input
                                        type="hidden"
                                        name="form_type"
                                        value="default"
                                    /><input
                                        type="hidden"
                                        name="current_url"
                                        value="https://wellness-bliss.cmsmasters.studio/light/home-two/"
                                    /><input
                                        type="hidden"
                                        name="render_id"
                                        value="0"
                                    /><input
                                        type="hidden"
                                        name="action"
                                        value="forminator_submit_form_custom-forms"
                                    />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div
        class="elementor-element elementor-element-90242af e-con-full e-flex cmsmasters-block-default e-con e-child"
        data-id="90242af"
        data-element_type="container"
        data-settings='{"background_background":"classic","position":"absolute"}'
    >
    </div>
</section>
