		<div class="elementor-element elementor-element-4f0b255 e-flex e-con-boxed cmsmasters-block-default e-con e-parent e-lazyloaded" data-id="4f0b255" data-element_type="container">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-e51219f e-con-full e-flex cmsmasters-block-default e-con e-child" data-id="e51219f" data-element_type="container">
		<div class="elementor-element elementor-element-3ce75e0 e-con-full e-flex cmsmasters-block-default e-con e-child" data-id="3ce75e0" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;gradient&quot;,&quot;animation&quot;:&quot;fadeIn&quot;}" style="visibility: visible; opacity: 1;">
				<div class="elementor-element elementor-element-61f6a64 elementor-position-right elementor-mobile-position-right elementor-view-default cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-icon-box" data-id="61f6a64" data-element_type="widget" data-widget_type="icon-box.default">
				<div class="elementor-widget-container">
							<div class="elementor-icon-box-wrapper">

						<div class="elementor-icon-box-icon">
				<span class="elementor-icon">
				<i aria-hidden="true" class="cmsmsdemo-icons- cmsms-demo-icons-wellness-bliss"></i>				</span>
			</div>
			
						<div class="elementor-icon-box-content">

									<h5 class="elementor-icon-box-title">
						<span>
							Massage Therapy						</span>
					</h5>
				
									<p class="elementor-icon-box-description">
						Stimulate the body’s own healing response.					</p>
				
			</div>
			
		</div>
						</div>
				</div>
		<div class="elementor-element elementor-element-a13801f e-con-full e-flex cmsmasters-block-default e-con e-child" data-id="a13801f" data-element_type="container">
				<div data-separate-animation-selector=".cmsmasters-widget-icon-list-item" data-text-animation-class="sequental, random, line, word, char" class="elementor-element elementor-element-c4b04c0 cmsmasters-widget-layout-row cmsmasters-widget-align-stretch cmsmasters-widget-direction-default cmsmasters-widget-marker-element-icon cmsmasters-widget-marker-view-default cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-cmsmasters-icon-list cmsmasters-widget-icon-list" data-id="c4b04c0" data-element_type="widget" data-widget_type="cmsmasters-icon-list.default">
				<div class="elementor-widget-container">
							<ul class="cmsmasters-widget-icon-list-items">
							<li class="cmsmasters-widget-icon-list-item">
								<span class="cmsmasters-widget-icon-list-item-text-wrap">
										<span class="cmsmasters-widget-icon-list-item-text-inner elementor-repeater-item-ac48809">
						<span class="cmsmasters-widget-icon-list-item-text">
							Relaxation Massage - 60 mins						</span>
											</span>
				</span>
				<span class="cmsmasters-widget-icon-list-item-value cmsmasters-widget-icon-list-item-value">$70</span>				</li>
							<li class="cmsmasters-widget-icon-list-item">
								<span class="cmsmasters-widget-icon-list-item-text-wrap">
										<span class="cmsmasters-widget-icon-list-item-text-inner elementor-repeater-item-21a0817">
						<span class="cmsmasters-widget-icon-list-item-text cmsmasters-widget-icon-list-item-text">
							Relaxation Massage - 90 mins						</span>
											</span>
				</span>
				<span class="cmsmasters-widget-icon-list-item-value cmsmasters-widget-icon-list-item-value">$95</span>				</li>
					</ul>
						</div>
				</div>
				<div class="elementor-element elementor-element-fa8ceb3 elementor-widget-divider--view-line cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-divider" data-id="fa8ceb3" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
							<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
						</div>
				</div>
				<div data-separate-animation-selector=".cmsmasters-widget-icon-list-item" data-text-animation-class="sequental, random, line, word, char" class="elementor-element elementor-element-a679ff3 cmsmasters-widget-layout-row cmsmasters-widget-align-stretch cmsmasters-widget-direction-default cmsmasters-widget-marker-element-icon cmsmasters-widget-marker-view-default cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-cmsmasters-icon-list cmsmasters-widget-icon-list" data-id="a679ff3" data-element_type="widget" data-widget_type="cmsmasters-icon-list.default">
				<div class="elementor-widget-container">
							<ul class="cmsmasters-widget-icon-list-items">
							<li class="cmsmasters-widget-icon-list-item">
								<span class="cmsmasters-widget-icon-list-item-text-wrap">
										<span class="cmsmasters-widget-icon-list-item-text-inner elementor-repeater-item-ac48809">
						<span class="cmsmasters-widget-icon-list-item-text">
							Deep Tissue Massage - 60 mins						</span>
											</span>
				</span>
				<span class="cmsmasters-widget-icon-list-item-value cmsmasters-widget-icon-list-item-value">$75</span>				</li>
							<li class="cmsmasters-widget-icon-list-item">
								<span class="cmsmasters-widget-icon-list-item-text-wrap">
										<span class="cmsmasters-widget-icon-list-item-text-inner elementor-repeater-item-21a0817">
						<span class="cmsmasters-widget-icon-list-item-text cmsmasters-widget-icon-list-item-text">
							Deep Tissue Massage - 90 mins						</span>
											</span>
				</span>
				<span class="cmsmasters-widget-icon-list-item-value cmsmasters-widget-icon-list-item-value">$100</span>				</li>
					</ul>
						</div>
				</div>
				<div class="elementor-element elementor-element-bfb9c1c elementor-widget-divider--view-line cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-divider" data-id="bfb9c1c" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
							<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
						</div>
				</div>
				<div data-separate-animation-selector=".cmsmasters-widget-icon-list-item" data-text-animation-class="sequental, random, line, word, char" class="elementor-element elementor-element-7b1578c cmsmasters-widget-layout-row cmsmasters-widget-align-stretch cmsmasters-widget-direction-default cmsmasters-widget-marker-element-icon cmsmasters-widget-marker-view-default cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-cmsmasters-icon-list cmsmasters-widget-icon-list" data-id="7b1578c" data-element_type="widget" data-widget_type="cmsmasters-icon-list.default">
				<div class="elementor-widget-container">
							<ul class="cmsmasters-widget-icon-list-items">
							<li class="cmsmasters-widget-icon-list-item">
								<span class="cmsmasters-widget-icon-list-item-text-wrap">
										<span class="cmsmasters-widget-icon-list-item-text-inner elementor-repeater-item-ac48809">
						<span class="cmsmasters-widget-icon-list-item-text">
							Hot Stone Massage - 60 mins						</span>
											</span>
				</span>
				<span class="cmsmasters-widget-icon-list-item-value cmsmasters-widget-icon-list-item-value">$80</span>				</li>
							<li class="cmsmasters-widget-icon-list-item">
								<span class="cmsmasters-widget-icon-list-item-text-wrap">
										<span class="cmsmasters-widget-icon-list-item-text-inner elementor-repeater-item-21a0817">
						<span class="cmsmasters-widget-icon-list-item-text cmsmasters-widget-icon-list-item-text">
							Hot Stone Massage - 90 mins						</span>
											</span>
				</span>
				<span class="cmsmasters-widget-icon-list-item-value cmsmasters-widget-icon-list-item-value">$115</span>				</li>
					</ul>
						</div>
				</div>
				<div class="elementor-element elementor-element-2de357d elementor-widget-divider--view-line cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-divider" data-id="2de357d" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
							<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
						</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-c330312 cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-button" data-id="c330312" data-element_type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
									<div class="elementor-button-wrapper">
					<a class="elementor-button elementor-button-link elementor-size-sm" href="https://wellness-bliss.cmsmasters.studio/light/services-page/">
						<span class="elementor-button-content-wrapper">
									<span class="elementor-button-text">View Details</span>
					</span>
					</a>
				</div>
								</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-71e8b8b e-con-full e-flex cmsmasters-block-default e-con e-child" data-id="71e8b8b" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeIn&quot;}" style="visibility: visible; opacity: 1;">
				<div class="elementor-element elementor-element-0a0ffd8 elementor-position-right elementor-mobile-position-right elementor-view-default cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-icon-box" data-id="0a0ffd8" data-element_type="widget" data-widget_type="icon-box.default">
				<div class="elementor-widget-container">
							<div class="elementor-icon-box-wrapper">

						<div class="elementor-icon-box-icon">
				<span class="elementor-icon">
				<i aria-hidden="true" class="cmsmsdemo-icons- cmsms-demo-icons-wellness-12"></i>				</span>
			</div>
			
						<div class="elementor-icon-box-content">

									<h5 class="elementor-icon-box-title">
						<span>
							Guided Meditations						</span>
					</h5>
				
									<p class="elementor-icon-box-description">
						Breathwork and mindfulness tailored to your needs.					</p>
				
			</div>
			
		</div>
						</div>
				</div>
		<div class="elementor-element elementor-element-0a4c72e e-con-full e-flex cmsmasters-block-default e-con e-child" data-id="0a4c72e" data-element_type="container">
				<div class="elementor-element elementor-element-7e26b8f cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-heading" data-id="7e26b8f" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<div class="elementor-heading-title elementor-size-default">Initial Consultation</div>				</div>
				</div>
				<div data-separate-animation-selector=".cmsmasters-widget-icon-list-item" data-text-animation-class="sequental, random, line, word, char" class="elementor-element elementor-element-831a17e cmsmasters-widget-layout-row cmsmasters-widget-align-stretch cmsmasters-widget-direction-default cmsmasters-widget-marker-element-icon cmsmasters-widget-marker-view-default cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-cmsmasters-icon-list cmsmasters-widget-icon-list" data-id="831a17e" data-element_type="widget" data-widget_type="cmsmasters-icon-list.default">
				<div class="elementor-widget-container">
							<ul class="cmsmasters-widget-icon-list-items">
							<li class="cmsmasters-widget-icon-list-item">
								<span class="cmsmasters-widget-icon-list-item-text-wrap">
										<span class="cmsmasters-widget-icon-list-item-text-inner elementor-repeater-item-ac48809">
						<span class="cmsmasters-widget-icon-list-item-text">
							45 mins						</span>
											</span>
				</span>
				<span class="cmsmasters-widget-icon-list-item-value cmsmasters-widget-icon-list-item-value">$50</span>				</li>
					</ul>
						</div>
				</div>
				<div class="elementor-element elementor-element-f472a81 elementor-widget-divider--view-line cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-divider" data-id="f472a81" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
							<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-5a6f925 cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-heading" data-id="5a6f925" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<div class="elementor-heading-title elementor-size-default">Follow Up Treatment</div>				</div>
				</div>
				<div data-separate-animation-selector=".cmsmasters-widget-icon-list-item" data-text-animation-class="sequental, random, line, word, char" class="elementor-element elementor-element-fc8a64a cmsmasters-widget-layout-row cmsmasters-widget-align-stretch cmsmasters-widget-direction-default cmsmasters-widget-marker-element-icon cmsmasters-widget-marker-view-default cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-cmsmasters-icon-list cmsmasters-widget-icon-list" data-id="fc8a64a" data-element_type="widget" data-widget_type="cmsmasters-icon-list.default">
				<div class="elementor-widget-container">
							<ul class="cmsmasters-widget-icon-list-items">
							<li class="cmsmasters-widget-icon-list-item">
								<span class="cmsmasters-widget-icon-list-item-text-wrap">
										<span class="cmsmasters-widget-icon-list-item-text-inner elementor-repeater-item-ac48809">
						<span class="cmsmasters-widget-icon-list-item-text">
							30 mins						</span>
											</span>
				</span>
				<span class="cmsmasters-widget-icon-list-item-value cmsmasters-widget-icon-list-item-value">$40</span>				</li>
							<li class="cmsmasters-widget-icon-list-item">
								<span class="cmsmasters-widget-icon-list-item-text-wrap">
										<span class="cmsmasters-widget-icon-list-item-text-inner elementor-repeater-item-21a0817">
						<span class="cmsmasters-widget-icon-list-item-text cmsmasters-widget-icon-list-item-text">
							60 mins						</span>
											</span>
				</span>
				<span class="cmsmasters-widget-icon-list-item-value cmsmasters-widget-icon-list-item-value">$60</span>				</li>
					</ul>
						</div>
				</div>
				<div class="elementor-element elementor-element-828e9a4 elementor-widget-divider--view-line cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-divider" data-id="828e9a4" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
							<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
						</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-8f48eef cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-cmsmasters-button" data-id="8f48eef" data-element_type="widget" data-widget_type="cmsmasters-button.default">
				<div class="elementor-widget-container">
					<div class="elementor-widget-cmsmasters-button__button-container"><div class="elementor-widget-cmsmasters-button__button-container-inner"><a href="https://wellness-bliss.cmsmasters.studio/light/prices-page/" class="cmsmasters-button-link elementor-widget-cmsmasters-button__button cmsmasters-icon-view- cmsmasters-icon-shape- cmsmasters-button-size-sm" role="button" tabindex="0"><span class="elementor-widget-cmsmasters-button__content-wrapper cmsmasters-align-icon-"><span class="elementor-widget-cmsmasters-button__text">View Details</span></span></a></div></div>				</div>
				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-ce0174c e-con-full e-flex cmsmasters-block-default e-con e-child" data-id="ce0174c" data-element_type="container">
		<div class="elementor-element elementor-element-8417934 e-con-full e-flex cmsmasters-block-default e-con e-child" data-id="8417934" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeIn&quot;,&quot;animation_delay&quot;:250}" style="visibility: visible; opacity: 1;">
				<div class="elementor-element elementor-element-9db05a4 elementor-position-right elementor-mobile-position-right elementor-view-default cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-icon-box" data-id="9db05a4" data-element_type="widget" data-widget_type="icon-box.default">
				<div class="elementor-widget-container">
							<div class="elementor-icon-box-wrapper">

						<div class="elementor-icon-box-icon">
				<span class="elementor-icon">
				<i aria-hidden="true" class="cmsmsdemo-icons- cmsms-demo-icons-wellness-15"></i>				</span>
			</div>
			
						<div class="elementor-icon-box-content">

									<h5 class="elementor-icon-box-title">
						<span>
							Reflexology Therapy						</span>
					</h5>
				
									<p class="elementor-icon-box-description">
						Relieve pain and limitation of movement.					</p>
				
			</div>
			
		</div>
						</div>
				</div>
		<div class="elementor-element elementor-element-4f6e5ca e-con-full e-flex cmsmasters-block-default e-con e-child" data-id="4f6e5ca" data-element_type="container">
				<div class="elementor-element elementor-element-dd49161 cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-heading" data-id="dd49161" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<div class="elementor-heading-title elementor-size-default">Initial Consultation</div>				</div>
				</div>
				<div data-separate-animation-selector=".cmsmasters-widget-icon-list-item" data-text-animation-class="sequental, random, line, word, char" class="elementor-element elementor-element-9fba241 cmsmasters-widget-layout-row cmsmasters-widget-align-stretch cmsmasters-widget-direction-default cmsmasters-widget-marker-element-icon cmsmasters-widget-marker-view-default cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-cmsmasters-icon-list cmsmasters-widget-icon-list" data-id="9fba241" data-element_type="widget" data-widget_type="cmsmasters-icon-list.default">
				<div class="elementor-widget-container">
							<ul class="cmsmasters-widget-icon-list-items">
							<li class="cmsmasters-widget-icon-list-item">
								<span class="cmsmasters-widget-icon-list-item-text-wrap">
										<span class="cmsmasters-widget-icon-list-item-text-inner elementor-repeater-item-ac48809">
						<span class="cmsmasters-widget-icon-list-item-text">
							45 mins						</span>
											</span>
				</span>
				<span class="cmsmasters-widget-icon-list-item-value cmsmasters-widget-icon-list-item-value">$50</span>				</li>
					</ul>
						</div>
				</div>
				<div class="elementor-element elementor-element-e26c9f4 elementor-widget-divider--view-line cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-divider" data-id="e26c9f4" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
							<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-bdb1df8 cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-heading" data-id="bdb1df8" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<div class="elementor-heading-title elementor-size-default">Follow Up Treatment</div>				</div>
				</div>
				<div data-separate-animation-selector=".cmsmasters-widget-icon-list-item" data-text-animation-class="sequental, random, line, word, char" class="elementor-element elementor-element-2ba082e cmsmasters-widget-layout-row cmsmasters-widget-align-stretch cmsmasters-widget-direction-default cmsmasters-widget-marker-element-icon cmsmasters-widget-marker-view-default cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-cmsmasters-icon-list cmsmasters-widget-icon-list" data-id="2ba082e" data-element_type="widget" data-widget_type="cmsmasters-icon-list.default">
				<div class="elementor-widget-container">
							<ul class="cmsmasters-widget-icon-list-items">
							<li class="cmsmasters-widget-icon-list-item">
								<span class="cmsmasters-widget-icon-list-item-text-wrap">
										<span class="cmsmasters-widget-icon-list-item-text-inner elementor-repeater-item-ac48809">
						<span class="cmsmasters-widget-icon-list-item-text">
							30 mins						</span>
											</span>
				</span>
				<span class="cmsmasters-widget-icon-list-item-value cmsmasters-widget-icon-list-item-value">$45</span>				</li>
							<li class="cmsmasters-widget-icon-list-item">
								<span class="cmsmasters-widget-icon-list-item-text-wrap">
										<span class="cmsmasters-widget-icon-list-item-text-inner elementor-repeater-item-21a0817">
						<span class="cmsmasters-widget-icon-list-item-text cmsmasters-widget-icon-list-item-text">
							60 mins						</span>
											</span>
				</span>
				<span class="cmsmasters-widget-icon-list-item-value cmsmasters-widget-icon-list-item-value">$60</span>				</li>
					</ul>
						</div>
				</div>
				<div class="elementor-element elementor-element-379b2b4 elementor-widget-divider--view-line cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-divider" data-id="379b2b4" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
							<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
						</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-b9d6981 cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-cmsmasters-button" data-id="b9d6981" data-element_type="widget" data-widget_type="cmsmasters-button.default">
				<div class="elementor-widget-container">
					<div class="elementor-widget-cmsmasters-button__button-container"><div class="elementor-widget-cmsmasters-button__button-container-inner"><a href="https://wellness-bliss.cmsmasters.studio/light/prices-page/" class="cmsmasters-button-link elementor-widget-cmsmasters-button__button cmsmasters-icon-view- cmsmasters-icon-shape- cmsmasters-button-size-sm" role="button" tabindex="0"><span class="elementor-widget-cmsmasters-button__content-wrapper cmsmasters-align-icon-"><span class="elementor-widget-cmsmasters-button__text">View Details</span></span></a></div></div>				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-fa21cfc e-con-full e-flex cmsmasters-block-default e-con e-child animated fadeIn" data-id="fa21cfc" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeIn&quot;,&quot;animation_delay&quot;:250}" style="visibility: visible; opacity: 1;">
				<div class="elementor-element elementor-element-6ae0993 elementor-position-right elementor-mobile-position-right elementor-view-default cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-icon-box" data-id="6ae0993" data-element_type="widget" data-widget_type="icon-box.default">
				<div class="elementor-widget-container">
							<div class="elementor-icon-box-wrapper">

						<div class="elementor-icon-box-icon">
				<span class="elementor-icon">
				<i aria-hidden="true" class="cmsmsdemo-icons- cmsms-demo-icons-wellness-8"></i>				</span>
			</div>
			
						<div class="elementor-icon-box-content">

									<h5 class="elementor-icon-box-title">
						<span>
							Lymphatic Drainage Massage						</span>
					</h5>
				
									<p class="elementor-icon-box-description">
						Gentle technique to support immune function and reduce inflammation.					</p>
				
			</div>
			
		</div>
						</div>
				</div>
		<div class="elementor-element elementor-element-af4b454 e-con-full e-flex cmsmasters-block-default e-con e-child" data-id="af4b454" data-element_type="container">
				<div class="elementor-element elementor-element-7f6de97 cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-heading" data-id="7f6de97" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<div class="elementor-heading-title elementor-size-default">Initial Consultation</div>				</div>
				</div>
				<div data-separate-animation-selector=".cmsmasters-widget-icon-list-item" data-text-animation-class="sequental, random, line, word, char" class="elementor-element elementor-element-1dd5b19 cmsmasters-widget-layout-row cmsmasters-widget-align-stretch cmsmasters-widget-direction-default cmsmasters-widget-marker-element-icon cmsmasters-widget-marker-view-default cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-cmsmasters-icon-list cmsmasters-widget-icon-list" data-id="1dd5b19" data-element_type="widget" data-widget_type="cmsmasters-icon-list.default">
				<div class="elementor-widget-container">
							<ul class="cmsmasters-widget-icon-list-items">
							<li class="cmsmasters-widget-icon-list-item">
								<span class="cmsmasters-widget-icon-list-item-text-wrap">
										<span class="cmsmasters-widget-icon-list-item-text-inner elementor-repeater-item-ac48809">
						<span class="cmsmasters-widget-icon-list-item-text">
							45 mins						</span>
											</span>
				</span>
				<span class="cmsmasters-widget-icon-list-item-value cmsmasters-widget-icon-list-item-value">$50</span>				</li>
					</ul>
						</div>
				</div>
				<div class="elementor-element elementor-element-2c4b909 elementor-widget-divider--view-line cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-divider" data-id="2c4b909" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
							<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-df59f7d cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-heading" data-id="df59f7d" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<div class="elementor-heading-title elementor-size-default">Follow Up Treatment</div>				</div>
				</div>
				<div data-separate-animation-selector=".cmsmasters-widget-icon-list-item" data-text-animation-class="sequental, random, line, word, char" class="elementor-element elementor-element-bc19a89 cmsmasters-widget-layout-row cmsmasters-widget-align-stretch cmsmasters-widget-direction-default cmsmasters-widget-marker-element-icon cmsmasters-widget-marker-view-default cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-cmsmasters-icon-list cmsmasters-widget-icon-list" data-id="bc19a89" data-element_type="widget" data-widget_type="cmsmasters-icon-list.default">
				<div class="elementor-widget-container">
							<ul class="cmsmasters-widget-icon-list-items">
							<li class="cmsmasters-widget-icon-list-item">
								<span class="cmsmasters-widget-icon-list-item-text-wrap">
										<span class="cmsmasters-widget-icon-list-item-text-inner elementor-repeater-item-ac48809">
						<span class="cmsmasters-widget-icon-list-item-text">
							30 mins						</span>
											</span>
				</span>
				<span class="cmsmasters-widget-icon-list-item-value cmsmasters-widget-icon-list-item-value">$45</span>				</li>
							<li class="cmsmasters-widget-icon-list-item">
								<span class="cmsmasters-widget-icon-list-item-text-wrap">
										<span class="cmsmasters-widget-icon-list-item-text-inner elementor-repeater-item-21a0817">
						<span class="cmsmasters-widget-icon-list-item-text cmsmasters-widget-icon-list-item-text">
							60 mins						</span>
											</span>
				</span>
				<span class="cmsmasters-widget-icon-list-item-value cmsmasters-widget-icon-list-item-value">$60</span>				</li>
					</ul>
						</div>
				</div>
				<div class="elementor-element elementor-element-2659108 elementor-widget-divider--view-line cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-divider" data-id="2659108" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
							<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
						</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-5041881 cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-cmsmasters-button" data-id="5041881" data-element_type="widget" data-widget_type="cmsmasters-button.default">
				<div class="elementor-widget-container">
					<div class="elementor-widget-cmsmasters-button__button-container"><div class="elementor-widget-cmsmasters-button__button-container-inner"><a href="https://wellness-bliss.cmsmasters.studio/light/prices-page/" class="cmsmasters-button-link elementor-widget-cmsmasters-button__button cmsmasters-icon-view- cmsmasters-icon-shape- cmsmasters-button-size-sm" role="button" tabindex="0"><span class="elementor-widget-cmsmasters-button__content-wrapper cmsmasters-align-icon-"><span class="elementor-widget-cmsmasters-button__text">View Details</span></span></a></div></div>				</div>
				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-3e92693 e-con-full e-flex cmsmasters-block-default e-con e-child" data-id="3e92693" data-element_type="container">
		<div class="elementor-element elementor-element-9b983ea e-con-full e-flex cmsmasters-block-default e-con e-child" data-id="9b983ea" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeIn&quot;,&quot;animation_delay&quot;:500}" style="visibility: visible; opacity: 1;">
				<div class="elementor-element elementor-element-9152138 elementor-position-right elementor-mobile-position-right elementor-view-default cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-icon-box" data-id="9152138" data-element_type="widget" data-widget_type="icon-box.default">
				<div class="elementor-widget-container">
							<div class="elementor-icon-box-wrapper">

						<div class="elementor-icon-box-icon">
				<span class="elementor-icon">
				<i aria-hidden="true" class="cmsmsdemo-icons- cmsms-demo-icons-wellness-11"></i>				</span>
			</div>
			
						<div class="elementor-icon-box-content">

									<h5 class="elementor-icon-box-title">
						<span>
							Aromatherapy Session						</span>
					</h5>
				
									<p class="elementor-icon-box-description">
						Deeply relax the body, mind and soul.					</p>
				
			</div>
			
		</div>
						</div>
				</div>
		<div class="elementor-element elementor-element-9537053 e-con-full e-flex cmsmasters-block-default e-con e-child" data-id="9537053" data-element_type="container">
				<div class="elementor-element elementor-element-07d3640 cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-heading" data-id="07d3640" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<div class="elementor-heading-title elementor-size-default">Initial Consultation</div>				</div>
				</div>
				<div data-separate-animation-selector=".cmsmasters-widget-icon-list-item" data-text-animation-class="sequental, random, line, word, char" class="elementor-element elementor-element-676c4be cmsmasters-widget-layout-row cmsmasters-widget-align-stretch cmsmasters-widget-direction-default cmsmasters-widget-marker-element-icon cmsmasters-widget-marker-view-default cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-cmsmasters-icon-list cmsmasters-widget-icon-list" data-id="676c4be" data-element_type="widget" data-widget_type="cmsmasters-icon-list.default">
				<div class="elementor-widget-container">
							<ul class="cmsmasters-widget-icon-list-items">
							<li class="cmsmasters-widget-icon-list-item">
								<span class="cmsmasters-widget-icon-list-item-text-wrap">
										<span class="cmsmasters-widget-icon-list-item-text-inner elementor-repeater-item-ac48809">
						<span class="cmsmasters-widget-icon-list-item-text">
							45 mins						</span>
											</span>
				</span>
				<span class="cmsmasters-widget-icon-list-item-value cmsmasters-widget-icon-list-item-value">$65</span>				</li>
					</ul>
						</div>
				</div>
				<div class="elementor-element elementor-element-cffa6f5 elementor-widget-divider--view-line cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-divider" data-id="cffa6f5" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
							<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-3a299d2 cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-heading" data-id="3a299d2" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<div class="elementor-heading-title elementor-size-default">Follow Up Treatment</div>				</div>
				</div>
				<div data-separate-animation-selector=".cmsmasters-widget-icon-list-item" data-text-animation-class="sequental, random, line, word, char" class="elementor-element elementor-element-70fb010 cmsmasters-widget-layout-row cmsmasters-widget-align-stretch cmsmasters-widget-direction-default cmsmasters-widget-marker-element-icon cmsmasters-widget-marker-view-default cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-cmsmasters-icon-list cmsmasters-widget-icon-list" data-id="70fb010" data-element_type="widget" data-widget_type="cmsmasters-icon-list.default">
				<div class="elementor-widget-container">
							<ul class="cmsmasters-widget-icon-list-items">
							<li class="cmsmasters-widget-icon-list-item">
								<span class="cmsmasters-widget-icon-list-item-text-wrap">
										<span class="cmsmasters-widget-icon-list-item-text-inner elementor-repeater-item-ac48809">
						<span class="cmsmasters-widget-icon-list-item-text">
							30 mins						</span>
											</span>
				</span>
				<span class="cmsmasters-widget-icon-list-item-value cmsmasters-widget-icon-list-item-value">$50</span>				</li>
							<li class="cmsmasters-widget-icon-list-item">
								<span class="cmsmasters-widget-icon-list-item-text-wrap">
										<span class="cmsmasters-widget-icon-list-item-text-inner elementor-repeater-item-21a0817">
						<span class="cmsmasters-widget-icon-list-item-text cmsmasters-widget-icon-list-item-text">
							60 mins						</span>
											</span>
				</span>
				<span class="cmsmasters-widget-icon-list-item-value cmsmasters-widget-icon-list-item-value">$80</span>				</li>
					</ul>
						</div>
				</div>
				<div class="elementor-element elementor-element-81a1eb9 elementor-widget-divider--view-line cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-divider" data-id="81a1eb9" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
							<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
						</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-baf59fa cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-cmsmasters-button" data-id="baf59fa" data-element_type="widget" data-widget_type="cmsmasters-button.default">
				<div class="elementor-widget-container">
					<div class="elementor-widget-cmsmasters-button__button-container"><div class="elementor-widget-cmsmasters-button__button-container-inner"><a href="https://wellness-bliss.cmsmasters.studio/light/prices-page/" class="cmsmasters-button-link elementor-widget-cmsmasters-button__button cmsmasters-icon-view- cmsmasters-icon-shape- cmsmasters-button-size-sm" role="button" tabindex="0"><span class="elementor-widget-cmsmasters-button__content-wrapper cmsmasters-align-icon-"><span class="elementor-widget-cmsmasters-button__text">View Details</span></span></a></div></div>				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-e3a201f e-con-full e-flex cmsmasters-block-default e-con e-child animated fadeIn" data-id="e3a201f" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeIn&quot;,&quot;animation_delay&quot;:500}" style="visibility: visible; opacity: 1;">
				<div class="elementor-element elementor-element-244fdab elementor-position-right elementor-mobile-position-right elementor-view-default cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-icon-box" data-id="244fdab" data-element_type="widget" data-widget_type="icon-box.default">
				<div class="elementor-widget-container">
							<div class="elementor-icon-box-wrapper">

						<div class="elementor-icon-box-icon">
				<span class="elementor-icon">
				<i aria-hidden="true" class="cmsmsdemo-icons- cmsms-demo-icons-wellness-9"></i>				</span>
			</div>
			
						<div class="elementor-icon-box-content">

									<h5 class="elementor-icon-box-title">
						<span>
							Intuitive Wellness Consultation						</span>
					</h5>
				
									<p class="elementor-icon-box-description">
						Holistic life guidance blending energy reading, herbal suggestions.					</p>
				
			</div>
			
		</div>
						</div>
				</div>
		<div class="elementor-element elementor-element-64e5b74 e-con-full e-flex cmsmasters-block-default e-con e-child" data-id="64e5b74" data-element_type="container">
				<div class="elementor-element elementor-element-44a4ea0 cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-heading" data-id="44a4ea0" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<div class="elementor-heading-title elementor-size-default">Initial Consultation</div>				</div>
				</div>
				<div data-separate-animation-selector=".cmsmasters-widget-icon-list-item" data-text-animation-class="sequental, random, line, word, char" class="elementor-element elementor-element-ee1ca79 cmsmasters-widget-layout-row cmsmasters-widget-align-stretch cmsmasters-widget-direction-default cmsmasters-widget-marker-element-icon cmsmasters-widget-marker-view-default cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-cmsmasters-icon-list cmsmasters-widget-icon-list" data-id="ee1ca79" data-element_type="widget" data-widget_type="cmsmasters-icon-list.default">
				<div class="elementor-widget-container">
							<ul class="cmsmasters-widget-icon-list-items">
							<li class="cmsmasters-widget-icon-list-item">
								<span class="cmsmasters-widget-icon-list-item-text-wrap">
										<span class="cmsmasters-widget-icon-list-item-text-inner elementor-repeater-item-ac48809">
						<span class="cmsmasters-widget-icon-list-item-text">
							45 mins						</span>
											</span>
				</span>
				<span class="cmsmasters-widget-icon-list-item-value cmsmasters-widget-icon-list-item-value">$40</span>				</li>
					</ul>
						</div>
				</div>
				<div class="elementor-element elementor-element-610a7d9 elementor-widget-divider--view-line cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-divider" data-id="610a7d9" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
							<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-43d8fb9 cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-heading" data-id="43d8fb9" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<div class="elementor-heading-title elementor-size-default">Follow Up Treatment</div>				</div>
				</div>
				<div data-separate-animation-selector=".cmsmasters-widget-icon-list-item" data-text-animation-class="sequental, random, line, word, char" class="elementor-element elementor-element-7ada96b cmsmasters-widget-layout-row cmsmasters-widget-align-stretch cmsmasters-widget-direction-default cmsmasters-widget-marker-element-icon cmsmasters-widget-marker-view-default cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-cmsmasters-icon-list cmsmasters-widget-icon-list" data-id="7ada96b" data-element_type="widget" data-widget_type="cmsmasters-icon-list.default">
				<div class="elementor-widget-container">
							<ul class="cmsmasters-widget-icon-list-items">
							<li class="cmsmasters-widget-icon-list-item">
								<span class="cmsmasters-widget-icon-list-item-text-wrap">
										<span class="cmsmasters-widget-icon-list-item-text-inner elementor-repeater-item-ac48809">
						<span class="cmsmasters-widget-icon-list-item-text">
							30 mins						</span>
											</span>
				</span>
				<span class="cmsmasters-widget-icon-list-item-value cmsmasters-widget-icon-list-item-value">$30</span>				</li>
							<li class="cmsmasters-widget-icon-list-item">
								<span class="cmsmasters-widget-icon-list-item-text-wrap">
										<span class="cmsmasters-widget-icon-list-item-text-inner elementor-repeater-item-21a0817">
						<span class="cmsmasters-widget-icon-list-item-text cmsmasters-widget-icon-list-item-text">
							60 mins						</span>
											</span>
				</span>
				<span class="cmsmasters-widget-icon-list-item-value cmsmasters-widget-icon-list-item-value">$50</span>				</li>
					</ul>
						</div>
				</div>
				<div class="elementor-element elementor-element-aa59292 elementor-widget-divider--view-line cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-divider" data-id="aa59292" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
							<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
						</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-699534b cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-cmsmasters-button" data-id="699534b" data-element_type="widget" data-widget_type="cmsmasters-button.default">
				<div class="elementor-widget-container">
					<div class="elementor-widget-cmsmasters-button__button-container"><div class="elementor-widget-cmsmasters-button__button-container-inner"><a href="https://wellness-bliss.cmsmasters.studio/light/prices-page/" class="cmsmasters-button-link elementor-widget-cmsmasters-button__button cmsmasters-icon-view- cmsmasters-icon-shape- cmsmasters-button-size-sm" role="button" tabindex="0"><span class="elementor-widget-cmsmasters-button__content-wrapper cmsmasters-align-icon-"><span class="elementor-widget-cmsmasters-button__text">View Details</span></span></a></div></div>				</div>
				</div>
				</div>
				</div>
					</div>
				</div>
